.row1{

}
.row1 div{
    float:left;
    padding: 70px;
}

/* Canvs A */
div #Canvas\ A{

    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 70px;
    left: 100px; padding: 10px;
    border: 2px solid white;
    margin: 0;
}

/* For text in canvas A */
.textA{
    position: absolute;
    color: white;
    top: 10px;
    left: 65px;
    text-align: center;
    font-size: 20px;
}

/* Canvas B*/
div #Canvas\ B{

    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 70px;
    left: 450px;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
}

/* Text canvas B*/
.textB {
    position: absolute;
    color: black;
    top: 40px;
    left: 385px;
    font-weight: bold;
    font-size: 40px;
}

div #Canvas\ C{

    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 70px;
    left: 700px;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
}
.textC {
    position: absolute;
    color: white;
    top: 100px;
    left: 665px;
    font-size: 20px;
}

/* Animate picute */
div #Pic2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70px;
    right: 100px;
    background-color: red;
    animation-name: Pic2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    padding: 10px;
    border: 2px solid black;
    margin: 2px;


}

/* animation "settings" */
@keyframes Pic2 {
    from {background-color: red;}
    to {background-color: yellow;}
}
.row2 {
    float: left;

}
div #kekkonen{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    bottom: 220px;
    border: 2px solid black;


}
div #Canvas\ D{

    width: 400px;
    height: 100px;
    background-color: lightgrey;
    position: absolute;
    bottom: 220px;
    left: 430px;
    padding: 10px;
    border: 2px solid #b21a00;
    margin: 0;
}
.textD {
    position: absolute;
    bottom: 310px;
    left: 435px;
    color: #b21a00;
    font-size: 30px;
}

/* Drop places for dragable picture */
#div1 {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    position: absolute;
    bottom: 50px;
    right: 200px;
}

#div2 {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 2px solid darkseagreen;
    position: absolute;
    bottom: 50px;
    left: 200px;
}